*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
 
.page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1200px;
}

.result {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin-bottom: 20px;

}

.content__details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content__list-container {
  height: 300px;
  overflow-y: auto;
}
