*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
h1, h2, h3, h4, p, ul, ol, li, blockquote, fieldset {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1b1919;
  font-family: "Fira Sans Condensed", sans-serif;
}
.content {
  inline-size: 1140px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  place-items: end;
}
.content__details {
  width: 100%;
  display: grid;
  gap: 26px;
}
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 21px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  block-size: 294px;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.search-form__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.search-form__fieldset-title {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
}
.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}
.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 7px;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__textfield {
  width: 224px;
  height: 26px;
  background-color: transparent;
  color: currentColor;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-top: 1px solid #fff;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__textfield:has(:focus-visible:not(:focus)) {
  outline: 1px solid #fff;
}
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0;
}
input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 93%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  display: block;
  color: #fff;
  line-height: 115%;
  text-decoration: none;
}
.content__video-card {
  display: flex;
  align-items: flex-start;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
}
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__video-card-description {
  font-weight: 200;
  font-size: 18px;
  line-height: 16.2px;
  max-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}
.content__video-card-thumbnail {
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}
.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
.button {
  border: 1px solid currentColor;
  color: currentColor;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.button:hover {
  cursor: pointer;
}
.search-form__submit-button {
  display: flex;
  align-self: end;
  padding: 5px 73px;
}
.more-button {
  padding: 6px 132px;
}
.content__card-link_current {
  background-color: #545050;
}
.content__video-card:hover {
  text-decoration: underline;
}
.content__video-card:active {
  background-color: #545050;
}
.content__video-card:focus {
  outline: none;
}
.content__video-card:focus-visible {
  outline: 1px solid #fff;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}